/* ----------------COMMON------------------ */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    font-family: 'Merriweather', serif;
    font-size: 16px;
    font-weight: 400;
}

.clear{
    clear: both;
}

.text-white{
    color: white !important;
}

.text-center{
    text-align: center !important;
}

.pull-right{
    float: right !important;
}

.mt-24{
    margin-top: 24px !important;
}
/* 
.row {
    margin-left: -2px;
    margin-right: -20px;
} */

.col{
    float: left;
    padding: 0 3px;
}

.col-full{
    width: 100%;
}

.col-half{
    width: 50%;
}

.col-third{
    width: 32.73%;
}


/* --------------------HEADER------------------ */

#header{
    width:100%;
    height: 56px;
    background-color: rgb(3, 26, 39);
    position: fixed;
    top: 0;
    z-index: 10;
}

#nav{
    position: relative;
}

#nav li{
    display: inline-block;
    position: relative;

}
#nav > li >a{
    color: white;
    text-transform: uppercase;
}
#nav li a{
    display: inline-block;
    text-decoration: none;
     padding: 0 24px;
    font-size: 100%;
    line-height: 56px; 
    width: 100%;
}

#nav li:hover a{
    color: black;
}

#nav li:hover{
    background-color: #2e6f3f;
    transition: 0.3s;
}

#nav li:hover .subnav{
    display: block;
}

#nav .subnav{
    display: none;
    min-width: 160px;
    position: absolute;
    background-color: white;
    box-shadow: 0 0 6px grey;
}

#nav .subnav li{
    display: block;
}
#nav .subnav a{
    padding: 0 30px 0 16px;
    line-height: 38px;
}

#nav .nav-caret-down{
    font-size: 80%;
}

#nav .nav-bars-btn,
#search{
    display: inline;
    color: white;
    position: absolute;
    right: 0;
    top: 0;
    line-height: 56px;
    padding: 0 24px;
}

#nav #search:hover{
    background-color: red;
    cursor: pointer;
}

#nav-mobile{
    display: none;
}

/* -------------------SLIDER------------------- */

#slider{
    padding-top: 50%;
    margin-top: 56px;
    background: url(../img/Live.jpeg) 
    no-repeat center /cover;
}
#slider .pic-caption{
    color: white;
    width: 100%;
    text-align: center;
    transform: translateY(-100%);
}

#slider .pic-caption-heading{
    font-size: 150%;
    font-weight: 700;
}


/* ------------------CONTENT------------------ */
/* ---------------ABOUT SECTION--------------- */

.content-section{
    width: 65%;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding: 100px 0 125px 0;
}

.content-section .content-heading{
    text-align: center;
    padding: 20px 0;
    font-size: 180%;
    word-spacing: 4px;
    letter-spacing: 4px;
}
.content-section .content-sub-heading{
    text-align: center;
    padding: 20px 0;
    font-style: italic;
    font-size: 93.75%;
    opacity: 0.6;

}

.content-section .about-description{
    text-align:justify;
    padding: 30px 0;
    line-height: 2;
}
/* --------- ABOUT US SECTION - IMG---- */

#content .member-name{
    padding: 15px 0;
    
}
#content .member-list img{
    width: 75%;
    height: auto;
    border-radius: 5px;
}

/* -----------------TOUR DATES----------- */
.tour-dates{
    background-color: rgb(3, 26, 39);
}

.tickets-list {
    background-color: white;
    margin-top: 30px;
}

.tickets-list li{
    height: 40px;
    font-size: 93.75%;
    /* text-decoration: none; */
    color: rgba(0,0,0,0.6);
    border-bottom: 0.5px solid #ddd;
    line-height: 40px;
    padding: 0 20px;
}

.tickets-list .sold-out{
    background-color: rgb(247, 77, 77);
    color: white;
    padding: 4px 3px;
    margin-left: 20px;
    border-radius: 5%;
}

.tickets-list .sold-out:hover{
    background-color: red;
    transition: 0.3s;
}

.tickets-list .quantity{
    float: right;
    width: 24px;
    height: 24px;
    background-color: black;
    color: white;
    border-radius: 50%;
    text-align: center;
    line-height: 24px;
    margin-top: 8px;
}

/* --------------TOUR- PLACES --------*/
.tour-places{
    padding: 20px 0px;
}


.tour-places img{
    width: 100%;
}

.places-item{
    background-color: white;
    margin-right: 4px;
}
.tour-places img:hover{
    opacity: 0.5;
    transition: 0.3s;
}
.tour-places .places-des{
    margin: 15px;
    font-size: 93.75%;
}

.tour-places .place-heading{
    font-size: 93.75%;
    font-weight: 300px;
}
.tour-places .place-time{
    margin: 10px 0;
    color: #757575;
}
.tour-places .place-info{
    margin: 15px 0;
}

.buy-button{
    
    display: inline-block;
    padding: 12px 16px;
    margin: 10px 0;
    background-color: rgb(3, 26, 39);
    color: white;
    text-decoration: none;
    border: none;
}

.buy-button:hover{
    background-color: #ccc;
    color: black;
    transition: 0.3s;
    cursor: pointer;
    
}

/* ----------------BUY TICKETS----------- */

.js-modal{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.3);
    justify-content: center;
    align-items: center;
    display: none;
    z-index: 9999;
}

.js-modal.open{
    display: flex;   
}
.js-modal .window{
    background-color: white;
    width: 70%;
    height: auto;
    position: relative;
    animation: modalWindowSlideIn ease 0.5s;
    
}

.js-modal .heading {
    background-color: rgb(28, 71, 98);
    text-align: center;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 125%;
    color: white;
    text-transform: uppercase;
}

.js-modal .body{
    width: 100%;
    padding: 0 5%;
}

.body-icons{
    color: black;
    margin-right: 10px;
}

.js-modal-close-icon{
    color: white;
    position: absolute;
    right: 0;
    top: 0;
    padding: 8px;
    cursor: pointer;
    opacity: 0.7;
}

.js-modal-close-icon:hover{
    background-color: red;
    opacity: 1;
}

.modal-label{
    margin: 20px 0 10px 0;
}

.modal-input {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 30px;
}

.pay-button {
    width: 100%;
    height: 35px;
    background-color: rgb(28, 71, 98);
    color: white;
    font-size: 93.75%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.pay-button:hover {
    background-color: #ccc;
    color: black;
    font-weight: 400;
    cursor: pointer;
}

.modal-help a{
    text-decoration: none;
    color: rgb(62, 163, 222)
}

.modal-help{
    text-align: right;
    margin-right:5% ;
    padding: 10px 0;
}

@keyframes modalWindowSlideIn {
     from{
        opacity: 0;
        transform: translateY(-250px);
     }
     to{
        opacity: 1;
        transform: translateY(0);
     }
}


/* ----------------CONTACT FORM -------------- */

.contact-content{
    margin-top: 20px;
}

.contact-content-info{
    font-size: 110%;
    line-height: 1.5;
    margin-bottom: 20px;
}

.contact-content-form .form-control{
    padding: 8px;
    margin: 4px;
    border: 1px solid #ccc;
    width: 100%;
}

/* ------------MAP- SECTION----------- */

.map-section img{
    width: 100%;
    height: auto;
    margin-top: 40px;
}

/* ----------FOOTER--------------- */

#footer{
    padding: 64px 16px;
    text-align: center;
}

#footer .social-list{   
    display: inline-block;
    padding: 15px;
}

#footer .social-list a{
    text-decoration: none;
}
#footer .social-list img{
    opacity: 0.7;
    padding: 5px 5px;
    fill:#3d3b3b;
    width: 40px;
}
#footer .social-list img:hover{
    opacity: 0.5;
}

#footer .copy-right{
    color: #615f5f;
    font-size: 93.75%;
}
#footer .copy-right a{
    color: #615f5f;
    font-size: 93.75%;
}

/* ----------------------------------- */



